@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-background{
  background-image: url("https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d");
  /* background-repeat: repeat; */
  background-color: #88cff1;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.status-circle{
  height: 15px;
  width: 15px;
}